$primary-color : #03FF99;
$tertiary-color : #222222;

.Lowlogo {
    border-radius: 5px;
}

.footer {
    background-color: $tertiary-color;
    color: #909090;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: 80px;

    &Container {
        max-width: 1030px;
        margin: 0 auto;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &Links {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;

        a {
            font-size: 14px;
            color: #a1a1a1;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .infop {
            font-size: 140px;
            margin-top: 10px;
        }
    }

    &Info {
        font-size: 12px;
        text-align: left;

        a {
            color: $primary-color;
            text-decoration-line: none;
        }
    }

    .infop2 {
        color: #cbcbcb;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .inlogo {
        width: 140px;
        height: auto;
        object-fit: contain;
    } 
}