$primary-color : #03FF99;
$div-background-color : rgba(0, 0, 0, 0.4);
$primary-text-color : #ffffff;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: $primary-color;

    .imageContainer{
        padding-top: 5px;
        position: relative;
        overflow: hidden;
    }
}

.mainlayout {
    width: 1030px;
}


.headerlayout {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 40px;

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $div-background-color;

        padding: 10px 0 20px 0;

        width: 100%;
        height: auto;

        border-radius: 30px;

        border-top: 3px solid $primary-color;
        border-bottom: 3px solid $primary-color;
        

        h1 {
            color: $primary-text-color;
        }
    }
}

.CardLayout {
    display: flex;
    flex-wrap: wrap;
}
