body {
    margin: 0;
    padding: 0;

    background-image: url('/background-main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    scrollbar-width: none;
    -ms-overflow-style: none;

}

//강민재 : 스크롤바 숨기는걸로 했음
body::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}