/* src/app/globals.scss */

body {
    margin: 0;
    padding: 0;

    background-image: url('/background-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;

    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}